<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Bolsa de Valores', root_path, class:"navbar-brand"  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
        
      </ul>
      <%= form_tag root_path, class:"d-flex", method: 'POST' do  %>
        <%= text_field_tag 'simbolo', nil, placeholder: "Entre símbolo/ticker", size: 30, class:"form-control me-2" %>
        <%= submit_tag 'Buscar', class:"btn btn-outline-success" %>
      <% end %>
      


    </div>
  </div>
</nav>